{% extends 'base.html' %}

{% block body %}

<body>
<nav>
    <div class="nav-wrapper teal  darken-4">
      <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
      <a href="" class="brand-logo" target="_blank">FEST MANAGEMENT SYSTEM</a>

      <ul class="side-nav grey darken-2" id="mobile-demo">


        <li class="sidenav-header blue">
          <div class="row">
            <div class="col s4">
                <img src="http://www.newdesignfile.com/postpic/2014/01/flat-user-icon-default_355626.png" width="48px" height="48px" alt="" class="circle responsive-img valign profile-image">
            </div>
            <div class="col s8">
                <a class="btn-flat dropdown-button waves-effect waves-light white-text" href="#" data-activates="profile-dropdown">{{ request.user }}<i class="mdi-navigation-arrow-drop-down right"></i></a>
                <ul id="profile-dropdown" class="dropdown-content">
                </ul>
            </div>
          </div>
        </li>

        <li class="white"><a href="{% url 'maindashboard' %}" class="waves-effect waves-blue"><i class="material-icons">mail</i>DASHBOARD</a></li>
        <li class="white"><a href="{% url 'allevents' %}" class="waves-effect waves-blue"><i class="material-icons">call</i> ALL EVENTS</a></li>
        <li class="white"><a href="{% url 'allcoordinators' %}" class="waves-effect waves-blue"><i class="material-icons">android</i> CO-ORDINATORS</a></li>
        <li class="white"><a href="{% url 'addcoordin' %}" class="waves-effect waves-blue"><i class="material-icons">android</i> ADD NEW CO-ORDINATORS</a></li>
        <li class="white"><div class="divider"></div></li>

        <ul id="" class="">
                    <li class="white"><a href="#"><i class="material-icons">person</i>Profile</a></li>
                    <li class="white"><a href="#"><i class="material-icons">settings</i>Setting</a></li>
                    <li class="white"><a href="#"><i class="material-icons">help</i>Help</a></li>
                    <li class="white"><a href="#"><i class="material-icons">help</i>logout</a></li>
        </ul></ul>
    </div>
  </nav>
<!--- dont touch this --->

<br>
{% for d in data %}
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="container">
                    <h3>{{ d.name }} </h3>
                    <hr>
                </div>
            </div>
        </div>

        <!-- table of student -->
 <div class="row">
           <div class="col s12">
            <div class="container">
            <table  class="striped green lighten-5" >
            <thead>
            <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Email</th>
            </tr>
        </thead>

        <tbody>

        {% for u in d.user.all %}
          <tr>
              <td>{{ u }}</td>
              <td>{{ u.email }}</td>


          </tr>
        {% endfor %}
        </tbody>
      </table>
        </div>
    </div>
</div>


    </div>
</div>




{% endfor %}


<script>

$(document).ready(function(){
  $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 300
      edge: 'left', // Choose the horizontal origin
      closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
    }
  );

});
</script>

</body></html>


{% endblock %}