

    <div class="fieldWrapper">
    {{ form.username.errors }}
    <label for="{{ form.username.id_for_label }}">Email subject:</label>
    {{ form.username }}
</div>
<div class="fieldWrapper">
    {{ form.password.errors }}
    <label for="{{ form.password.id_for_label }}">Your message:</label>
    {{ form.password }}
</div>
<div class="fieldWrapper">
    {{ form.email.errors }}
    <label for="{{ form.email.id_for_label }}">Your email address:</label>
    {{ form.email }}
</div>
 <div class="fieldWrapper">
    {{ form.group.errors }}
    <label for="{{ form.group.id_for_label }}">Your email address:</label>
    {{ form.group }}
  </div>